# Build and Release Folders

# Other files and folders
snippets/
lao_tzus_tweets.txt
set-up_tasks.txt
homework_instructions.md
research/
log.txt
additional_features.txt


# Executables

node_modules/
.DS_Store
.env

